.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .items-one {
  margin-top: 50px;
} */

.title-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 200px;
}

.mini {
  display: flex;
}

.img-container {

  margin-right: 45px;
}

.img-container>img {
  height: 188px;
  width: 100%;
  /* margin-right: 50px; */
}

.profile {
  display: flex;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: 400;
  width: 100%;
}

.profile>img {
  margin-right: 7px;
}

.title-content {
  font-weight: 200;
  font-size: 13px;
  line-height: 20px;
}

.profile>h4 {
  font-size: 12px;
  font-weight: 500;
}

.profile>p {
  font-size: 10px;
  font-weight: 100;
}

.items>img {
  width: 272px;
  margin-right: 41px;
}

.items>h2 {

  width: 267px;
  font-weight: 500;
  font-size: 25px;
}

.items>p {
  width: 256px;
  font-weight: 300;
  line-height: 1.7;
}

.items {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 29px 0;
  height: 338px;
  width: 100%;
}

@media screen and (max-width:767px) {
  .items>img {
    width: 80%;
  }

  .wrapper {
    padding: auto;
  }

  .img-container>img {
    height: 300px;
  }

  .main-container {
    display: flex;
  }


  .items>h2 {
    width: 100%;
    font-weight: 400;
  }

  .items>p {
    font-size: 13px;
    font-weight: 100;
    width: 100%;
  }


  .profile-card>p {
    font-size: 12px;
  }

  .items {
    margin-top: 0;
  }
}

@media screen and (max-width:1062px) {
  .mini {
    display: flex;
    flex-direction: column;
  }

  .img-container {
    width: 100%;
  }

  .img-container>img {
    height: 150px;
    width: 100%;
    /* object-fit: cover; */
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .items>img {
    width: 100%;
    height: 150px;
  }

}

.main-container {
  display: flex;
}

.profile-card>p {
  font-size: 12px;
}

@media screen and (min-width: 768px) and (max-width:1032px) {

  .items>h2,
  p {
    width: 100%;
  }

  .items>p {
    width: 100%;
  }
}