.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 168px;
}

.items-one {
  grid-column-start: 1;
  grid-column-end: 4;
}

.title-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.mini {
  display: flex;
}

.img-container>img {
  height: 155px;
  margin-right: 50px;
}

.profile {
  display: flex;
  align-items: center;
}

.title {
  font-size: 30px;
  width: 610px;
  font-weight: 400;
}

.profile>img {
  margin-right: 7px;
}

.title-content {
  width: 60%;
  font-weight: 200;
  font-size: 13px;
  line-height: 20px;
}

.profile>h4 {
  font-size: 12px;
  font-weight: 500;
}

.profile>p {
  font-size: 10px;
  font-weight: 100;
}

.items {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 62px 0;
  height: 100%;
}

@media  screen and (min-width:1064px) {
  .items > img{
    width: 80%;
  }
  
  .wrapper {
    padding: 0 422px;
  }
  .img-container>img {
    height: 300px;
  }
}


@media screen and (max-width: 1159px) {
  
  .wrapper{
    padding: 0 200px;
  }
  
}