@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Nova+Flat&display=swap");

:root {
  --font-family: "Inter", "sans-serif";
  --bodyfont: "Poppins";
}

* {
  box-sizing: border-box;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mini-banner > h1 {
  font-size: 73px;
  width: 441px;
  font-family: "recoletablack";
}

.mini-banner figure {
  width: 442px;
}
/* 
@font-face {
  font-family: "recoletablack";
  src: url("recoleta-black-webfont.woff2") format("woff2"),
    url("recoleta-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */
